dist/
nbproject/
working_directory/
out/
chatty.iml
.idea/
META-INF/
.gradle
.nb-gradle
build.xml
**/img/*
**/cache/*
**/backup/*
**/debuglogs/*
**/logs/*
build/releases/Neuer\ Ordner
build/reports
build/resources
build/test-results
build/tmp
build/classes
build/libs
local.properties
build/javapackager/
build/releases/.chatty/spelling - Kopie
build/releases/Chatty_0.9.2b1_win_standalone.zip
build/releases/Chatty_0.9.2b1_win_standalone/
build/releases/Mod4You_Chatty_V1_1/Mod4You_Chatty_V1_1.zip
build/releases/Mod4You_Chatty_V1_2/Mod4You_Chatty_V1_2.zip
build/releases/Mod4You_Chatty_V1_2/changelog.txt
build/releases/Mod4You_Chatty_V1_2/spelling
