dist/
nbproject/
working_directory/
out/
chatty.iml
.idea/
META-INF/
.gradle
.nb-gradle
build.xml
**/img/*
**/cache/*
**/backup/*
**/debuglogs/*
**/logs/*
build/releases/Neuer\ Ordner
build/reports
build/resources
build/test-results
build/tmp
build/classes
build/libs
local.properties